In [2]:
import pandas as pd
import numpy as np
import torch
import os
import pickle as pickle
from transformers import (
    XLMRobertaForSequenceClassification,
    XLMRobertaConfig,
    XLMRobertaTokenizer,
    AutoTokenizer,
    AutoConfig,
    AutoModelForSequenceClassification,
    Trainer,
    TrainingArguments,
    RobertaConfig,
    RobertaTokenizer,
    RobertaForSequenceClassification,
    BertTokenizer,
    EarlyStoppingCallback,
)
from load_data import *
from utils import *
import random

In [3]:
def seed_everything(seed: int = 42):
    """
    Fix all related seeds

    :param seed: 42 (default)
    :return:
    """
    random.seed(seed)
    np.random.seed(seed)
    os.environ["PYTHONHASHSEED"] = str(seed)
    torch.manual_seed(seed)
    torch.cuda.manual_seed(seed)
    torch.backends.cudnn.deterministic = True
    torch.backends.cudnn.benchmark = True
seed_everything()

In [4]:
def label_to_num(label):
    num_label = []
    with open("dict_label_to_num.pkl", "rb") as f:
        dict_label_to_num = pickle.load(f)
    for v in label:
        num_label.append(dict_label_to_num[v])
    return num_label

In [42]:
raw_df = pd.read_csv("/opt/ml/code/train copy.csv")
SAVEDIR = './EDA_analysis_result'

# Raw data 구성

In [6]:
raw_df

,id,sentence,subject_entity,object_entity,label,source
0,0,〈Something〉는 조지 해리슨이 쓰고 비틀즈가 1969년 앨범 《Abbey R...,"{'word': '비틀즈', 'start_idx': 24, 'end_idx': 26...","{'word': '조지 해리슨', 'start_idx': 13, 'end_idx':...",no_relation,wikipedia
1,1,호남이 기반인 바른미래당·대안신당·민주평화당이 우여곡절 끝에 합당해 민생당(가칭)으...,"{'word': '민주평화당', 'start_idx': 19, 'end_idx': ...","{'word': '대안신당', 'start_idx': 14, 'end_idx': 1...",no_relation,wikitree
2,2,K리그2에서 성적 1위를 달리고 있는 광주FC는 지난 26일 한국프로축구연맹으로부터...,"{'word': '광주FC', 'start_idx': 21, 'end_idx': 2...","{'word': '한국프로축구연맹', 'start_idx': 34, 'end_idx...",org:member_of,wikitree
3,3,균일가 생활용품점 (주)아성다이소(대표 박정부)는 코로나19 바이러스로 어려움을 겪...,"{'word': '아성다이소', 'start_idx': 13, 'end_idx': ...","{'word': '박정부', 'start_idx': 22, 'end_idx': 24...",org:top_members/employees,wikitree
4,4,1967년 프로 야구 드래프트 1순위로 요미우리 자이언츠에게 입단하면서 등번호는 8...,"{'word': '요미우리 자이언츠', 'start_idx': 22, 'end_id...","{'word': '1967', 'start_idx': 0, 'end_idx': 3,...",no_relation,wikipedia
...,...,...,...,...,...,...
32465,32465,한국당은 7일 오전 9시부터 오후 5시까지 진행된 원내대표 및 정책위의장 후보자 등...,"{'word': '유기준', 'start_idx': 93, 'end_idx': 95...","{'word': '부산 서구·동구', 'start_idx': 100, 'end_id...",per:employee_of,wikitree
32466,32466,"법포는 다시 최시형, 서병학, 손병희 직계인 북접과 다시 서장옥, 전봉준, 김개남을...","{'word': '최시형', 'start_idx': 7, 'end_idx': 9, ...","{'word': '손병희', 'start_idx': 17, 'end_idx': 19...",per:colleagues,wikipedia
32467,32467,완도군(군수 신우철)이 국토교통부에서 실시한 '2019 교통문화지수 실태조사'에서 ...,"{'word': '완도군', 'start_idx': 0, 'end_idx': 2, ...","{'word': '신우철', 'start_idx': 7, 'end_idx': 9, ...",org:top_members/employees,wikitree
32468,32468,"중앙일보, JTBC 회장을 지낸 이후 중앙홀딩스 회장, 재단법인 한반도평화만들기 이...","{'word': 'JTBC', 'start_idx': 6, 'end_idx': 9,...","{'word': '중앙홀딩스', 'start_idx': 21, 'end_idx': ...",no_relation,wikipedia
32469,32469,화순군(군수 구충곤)은 17일 동면의 이장 20여 명이 코로나 19 예방을 위해 버...,"{'word': '화순군', 'start_idx': 0, 'end_idx': 2, ...","{'word': '구충곤', 'start_idx': 7, 'end_idx': 9, ...",org:top_members/employees,wikitree

In [7]:
raw_df.label.describe()

count           32470
unique             30
top       no_relation
freq             9534
Name: label, dtype: object

In [8]:
from collections import Counter
labels_int= []
nums= []
for k_, v_ in sorted([(k, v) for k,v in Counter(label_to_num(raw_df["label"].values)).items()], key=lambda x:x[0]):
    labels_int.append(k_)
    nums.append(v_)

In [9]:
label_num_df = pd.DataFrame({"label":labels_int, "count":nums})
label_num_df

    label  count
0       0   9534
1       1   4284
2       2    420
3       3    380
4       4   2103
5       5   1320
6       6   3573
7       7   1195
8       8    139
9       9     48
10     10    304
11     11    193
12     12   1001
13     13    190
14     14    534
15     15   1234
16     16    136
17     17    795
18     18    450
19     19     98
20     20   1866
21     21    520
22     22     66
23     23     82
24     24    418
25     25   1130
26     26    166
27     27     40
28     28    155
29     29     96

In [10]:
label_27_df = raw_df[raw_df.label.eq("per:place_of_death")]
len(label_27_df)

40

In [11]:
label_26_df = raw_df[raw_df.label.eq("per:place_of_birth")]
label_26_df

,id,sentence,subject_entity,object_entity,label,source
91,91,"백한성(白漢成, 水原鶴人, 1899년 6월 15일 조선 충청도 공주 출생 ~ 197...","{'word': '백한성', 'start_idx': 0, 'end_idx': 2, ...","{'word': '조선 충청도 공주', 'start_idx': 28, 'end_id...",per:place_of_birth,wikipedia
774,774,코치시 졸탄(1952년 5월 30일 ~ 2016년 11월 6일)은 헝가리 태생의 피...,"{'word': '코치시 졸탄', 'start_idx': 0, 'end_idx': ...","{'word': '헝가리', 'start_idx': 37, 'end_idx': 39...",per:place_of_birth,wikipedia
1105,1105,"윤호중은 경기도 장단군 출신으로, 배재고등보통학교에서 미술 교사였던 조각가 김복진에...","{'word': '윤호중', 'start_idx': 0, 'end_idx': 2, ...","{'word': '경기도', 'start_idx': 5, 'end_idx': 7, ...",per:place_of_birth,wikipedia
1110,1110,토미 메이컴은 북아일랜드 카운티 아마의 키디에서 1932년에 태어났다.,"{'word': '토미 메이컴', 'start_idx': 0, 'end_idx': ...","{'word': '북아일랜드 카운티 아마', 'start_idx': 8, 'end_...",per:place_of_birth,wikipedia
1300,1300,빌리 오르반은 독일 카이저슬라우테른에서 헝가리인 아버지와 폴란드인 어머니 사이에서 ...,"{'word': '빌리 오르반', 'start_idx': 0, 'end_idx': ...","{'word': '카이저슬라우테른', 'start_idx': 11, 'end_idx...",per:place_of_birth,wikipedia
...,...,...,...,...,...,...
31936,31936,본관은 성주(星州)이고 호(號)는 산남(山南)이며 영어 이름은 토머스 도(Thoma...,"{'word': '토머스 도', 'start_idx': 35, 'end_idx': ...","{'word': '성주(星州)', 'start_idx': 4, 'end_idx': ...",per:place_of_birth,wikipedia
32025,32025,루자인 알하틀룰은 2015년 12월에 사우디아라비아 역사상 최초로 여성이 선거권을 ...,"{'word': '루자인 알하틀룰', 'start_idx': 0, 'end_idx'...","{'word': '사우디아라비아', 'start_idx': 21, 'end_idx'...",per:place_of_birth,wikipedia
32162,32162,1946년 평안북도 진남포 (현재의 남포특별시)라고 알려져 있지만 공식적으로 평안남...,"{'word': '하용조', 'start_idx': 67, 'end_idx': 69...","{'word': '평안남도 강서군', 'start_idx': 43, 'end_idx...",per:place_of_birth,wikipedia
32204,32204,"툰쿠 압둘 라만은 1903년 2월 8일, 말레이시아의 알로르스타르에서 태어났다.","{'word': '툰쿠 압둘 라만', 'start_idx': 0, 'end_idx'...","{'word': '말레이시아', 'start_idx': 23, 'end_idx': ...",per:place_of_birth,wikipedia
32404,32404,소냐 옐리치는 1965년 뉴질랜드의 오클랜드에서 달마티아에서 이민을 온 크로아티아계...,"{'word': '소냐 옐리치', 'start_idx': 0, 'end_idx': ...","{'word': '뉴질랜드', 'start_idx': 14, 'end_idx': 1...",per:place_of_birth,wikipedia

In [12]:
label_11_df = raw_df[raw_df.label.eq("per:place_of_residence")]
label_11_df

,id,sentence,subject_entity,object_entity,label,source
167,167,이어 “6월 항쟁의 미완성을 통해 민주주의 후퇴를 겪었다. 국민들이 촛불혁명으로 탄...,"{'word': '문재인', 'start_idx': 50, 'end_idx': 52...","{'word': '대한민국', 'start_idx': 83, 'end_idx': 8...",per:place_of_residence,wikitree
230,230,다만 역법의 시작을 이슬람력과 동일하게 무함마드 및 그의 추종자들이 메카에서 메디나...,"{'word': '무함마드', 'start_idx': 22, 'end_idx': 2...","{'word': '메디나', 'start_idx': 43, 'end_idx': 45...",per:place_of_residence,wikipedia
233,233,"유한굉(劉漢宏, Liu Hanhong, ~ 887년)은 중국 당나라 말기에 활약했던...","{'word': '유한굉', 'start_idx': 0, 'end_idx': 2, ...","{'word': '중국 당나라', 'start_idx': 31, 'end_idx':...",per:place_of_residence,wikipedia
315,315,전쟁은 일본이 개항하면서 에도 막부(도쿠가와 막부)의 이이 나오스케(히코네 번)가 ...,"{'word': '이이 나오스케', 'start_idx': 30, 'end_idx'...","{'word': '히코네 번', 'start_idx': 38, 'end_idx': ...",per:place_of_residence,wikipedia
503,503,김성주(1990년 11월 15일 ~)은 대한민국의 축구 선수이며 현재 K리그1 인천...,"{'word': '김성주', 'start_idx': 0, 'end_idx': 2, ...","{'word': '대한민국', 'start_idx': 22, 'end_idx': 2...",per:place_of_residence,wikipedia
...,...,...,...,...,...,...
31914,31914,"대구광역시에서는 전 지역에서 홍준표가 앞섰는데, 유승민 후보의 거점 지역 동구, 한...","{'word': '김부겸', 'start_idx': 73, 'end_idx': 75...","{'word': '대구광역시', 'start_idx': 0, 'end_idx': 4...",per:place_of_residence,wikipedia
31975,31975,"유력자의 협력 하에 필리핀 헌법을 만들고, 호세 라우렐을 대통령으로 내세워 일본에 ...","{'word': '호세 라우렐', 'start_idx': 24, 'end_idx':...","{'word': '필리핀', 'start_idx': 11, 'end_idx': 13...",per:place_of_residence,wikipedia
32127,32127,"또 더불어민주당 조승래(대전 유성갑) 의원이 12건(12.3%), 더불어민주당 김해...","{'word': '김해영', 'start_idx': 44, 'end_idx': 46...","{'word': '부산 연제구', 'start_idx': 48, 'end_idx':...",per:place_of_residence,wikitree
32131,32131,"한편, 김헌창(金憲昌)이 822년 3월에 반란을 일으켜, 웅진(熊津)을 수도로 하고...","{'word': '김헌창', 'start_idx': 4, 'end_idx': 6, ...","{'word': '웅진(熊津)', 'start_idx': 32, 'end_idx':...",per:place_of_residence,wikipedia
32433,32433,"2008년 11월 5일, 드미트리 메드베데프 러시아 대통령은 모스크바 크렘린궁에서 ...","{'word': '드미트리 메드베데프', 'start_idx': 14, 'end_i...","{'word': '러시아', 'start_idx': 25, 'end_idx': 27...",per:place_of_residence,wikipedia

In [13]:
sub_entity_words = [entity['word'] for entity in map(eval,raw_df.subject_entity.values)]
obj_entity_words = [entity['word'] for entity in map(eval,raw_df.object_entity.values)]

In [14]:
test_df = pd.DataFrame({ "sub_entity_words" :sub_entity_words, 'obj_entity_words':obj_entity_words, "label":raw_df.label })
test_df

      sub_entity_words obj_entity_words                      label
0                  비틀즈           조지 해리슨                no_relation
1                민주평화당             대안신당                no_relation
2                 광주FC         한국프로축구연맹              org:member_of
3                아성다이소              박정부  org:top_members/employees
4            요미우리 자이언츠             1967                no_relation
...                ...              ...                        ...
32465              유기준         부산 서구·동구            per:employee_of
32466              최시형              손병희             per:colleagues
32467              완도군              신우철  org:top_members/employees
32468             JTBC            중앙홀딩스                no_relation
32469              화순군              구충곤  org:top_members/employees

[32470 rows x 3 columns]

In [16]:
import re

In [51]:
p = re.compile("[가-힣]+")
tmp = []
for idx, s_e in enumerate(sub_entity_words):
    processed = re.sub("[가-힣]+|[0-9]+|[a-z]+|[A-Z]+|[.]+","", s_e)
    if processed.strip() != '':
        tmp.append((idx,s_e))
tmp
# 결과를 보면 () 괄호나 - 이런 기호들도 있다

[(114, 'CJ E&M'),
 (123, '툰-운트 스포트버라인 바이어 04 레버쿠젠'),
 (651, 'S★스파이시'),
 (780, 'SS-FHA'),
 (889, 'KT&G'),
 (1346, '나진 e-엠파이어'),
 (1414, 'MŠK 질리나'),
 (1465, 'GitHub, Inc.'),
 (1508, 'H&M'),
 (1537, 'KT&G'),
 (2010, '부산-김해경전철'),
 (2167, '메르세데스-벤츠'),
 (2418, '메르세데스-벤츠'),
 (3338, '샤르자(Sharjah) 대학'),
 (3999, '르네-로베르 카블리에 드 라 살'),
 (4116, 'FC 로잔-스포르트'),
 (4122, 'f(x)'),
 (4349, 'GD&TOP'),
 (4813, '칸쟈니∞'),
 (4957, '아래쪽 센타우루스자리-남십자자리 서브그룹'),
 (5011, 'KT&G'),
 (6082, 'G-Unit'),
 (6324, 'f(x)'),
 (6740, 'Oh!'),
 (7011, 'B*Witched'),
 (7649, '도네츠크-크리보이로크 소비에트 공화국'),
 (7852, 'EXO-M'),
 (7911, 'EXO-M'),
 (7964, '프리울리-베네치아'),
 (9176, 'f(x)'),
 (9243, 'KT&G'),
 (9265, '현대로템(주)'),
 (9540, 'f(x)'),
 (9590, '민주변화운동 - 창기라이'),
 (9766, 'US-방글라 항공'),
 (10330, '도네츠크-크리보이로크 소비에트 공화국'),
 (10636, 'K-water'),
 (10773, '브라이턴 & 호브 앨비언'),
 (11137, 'SM C&C'),
 (11267, '(주)마인버스'),
 (11466, 'k-os'),
 (11530, '메르세데스-벤츠'),
 (11739, 'pH-1'),
 (12175, '르네-로베르 카블리에 드 라 살'),
 (12416, 'GD&TOP'),
 (12477, '동원F&B'),
 (12522, 'DFB-리가포칼'),
 (14004, 'f(x)'),
 (14418, '아소카라자(Devanampiya Piyadasi Asokaraja)'),
 (15794, 'SS-HA'),
 (15836, '마힌드라 & 마힌드라'),
 (15854, '부산-김해경전철운영'),
 (15879, '보잉 F-15K 슬램 이글'),
 (16149, '알렉세이 페트로비치 베스투제프 - 류민 백작'),
 (16270, '카가미네 린·렌'),
 (16470, '푸스발-분데스리가'),
 (16477, '金基昶'),
 (16674, 'E미래에셋증권(주)'),
 (16936, '부산-김해경전철'),
 (17035, '레오나르도 "다빈치'),
 (17230, '콜로-콜로'),
 (17452, 'T-모바일'),
 (17755, '다임러-크라이슬러'),
 (17756, 'f(x)'),
 (18437, 'Joey Bada$$'),
 (18554, 'F-Secure'),
 (18561, 'RÚV'),
 (18690, 'f(x)'),
 (18894, 'SS-HA'),
 (19384, 'K-리그'),
 (20403, 'f(x)'),
 (21015, 'A.P. 몰러-머스크 그룹'),
 (21459, 'K-water'),
 (22101, 'GD&TOP'),
 (22669, '프라우엔-분데스리가'),
 (22732, '푸스발-분데스리가'),
 (22793, '오스트리아-헝가리 제국'),
 (22892, '오스트리아-헝가리 제국'),
 (23123, '대구 FC U-18'),
 (23241, '가톨릭平和放送'),
 (23340, 'Oh!'),
 (23802, '론-로베르트 칠러'),
 (24059, 'NO:EL'),
 (24067, 'f(x)'),
 (24295, '베트남 U-23 축구 국가대표팀'),
 (24380, '(주)신세계'),
 (24462, 'B*Witched'),
 (24892, '오스트리아-헝가리 제국'),
 (25019, '야후!'),
 (25141, 'KT&G'),
 (25936, '크루즈/와그너 프로덕션스'),
 (26203, 'A$AP Rocky'),
 (26568, '메르세데스-벤츠'),
 (26740, 'G-Dragon'),
 (27006, '나진 e-엠파이어'),
 (27347, '짐바브웨 아프리카 민족 연맹 - 애국 전선'),
 (27494, '오스트리아-헝가리 제국'),
 (27529, 'K-리그'),
 (28522, 'CJ E&M'),
 (29085, 'GD&TOP'),
 (29574, '크라우스-마페이 베그만'),
 (29626, '카가미네 린·렌'),
 (29645, '하이트진로(주)'),
 (29679, 'KT&G'),
 (29836, '오스트리아-헝가리 제국'),
 (30017, '(유)시민버스'),
 (30787, 'IZ*ONE'),
 (31128, '민주-공화당'),
 (31957, '(주)무학')]

In [52]:
tmp = np.array(tmp)
uniq_sub = raw_df.iloc[tmp[:,0]]
uniq_sub.to_csv(os.path.join(SAVEDIR,'unique_sub_entity.csv'))
uniq_sub

,id,sentence,subject_entity,object_entity,label,source
114,114,"2018년 7월 1일 CJ E&M을 합병하여 CJ ENM으로 사명을 변경하으며, 현...","{'word': 'CJ E&M', 'start_idx': 12, 'end_idx':...","{'word': 'CJ오쇼핑', 'start_idx': 48, 'end_idx': ...",no_relation,wikipedia
123,123,"1904년 7월 1일, ""툰-운트 스포트버라인 바이어 04 레버쿠젠"" (Turn- ...","{'word': '툰-운트 스포트버라인 바이어 04 레버쿠젠', 'start_idx...","{'word': '1904년 7월 1일', 'start_idx': 0, 'end_i...",org:founded,wikipedia
651,651,S★스파이시(S★Spicy)는 스타더스트 프로모션에 소속된 일본의 여성 아이돌 그룹이다.,"{'word': 'S★스파이시', 'start_idx': 0, 'end_idx': ...","{'word': '스타더스트 프로모션', 'start_idx': 17, 'end_i...",org:member_of,wikipedia
780,780,"그 결과 SS-HA는 대폭 감축당했고 친위대 지도본부(SS-FHA), 국가보안본부(...","{'word': 'SS-FHA', 'start_idx': 30, 'end_idx':...","{'word': '친위대 지도본부', 'start_idx': 21, 'end_idx...",org:alternate_names,wikipedia
889,889,KT&G(사장 백복인)가 궐련형 전자담배 ‘릴 하이브리드(lil HYBRID) 1....,"{'word': 'KT&G', 'start_idx': 0, 'end_idx': 3,...","{'word': '백복인', 'start_idx': 8, 'end_idx': 10,...",org:top_members/employees,wikitree
...,...,...,...,...,...,...
29836,29836,"1882년 오스트리아-헝가리 제국에 있던 사설 철도가 국영화되기 시작하였는데, 그 ...","{'word': '오스트리아-헝가리 제국', 'start_idx': 6, 'end_...","{'word': '오스트리아 제국', 'start_idx': 49, 'end_idx...",no_relation,wikipedia
30017,30017,마창시내버스협의회 소속 가운데 가장 많은 버스대수를 보유하고 있었던 마산의 (유)시...,"{'word': '(유)시민버스', 'start_idx': 42, 'end_idx'...","{'word': '시내버스협의회', 'start_idx': 2, 'end_idx':...",org:member_of,wikipedia
30787,30787,"단독 호스트 한혜진 씨를 비롯해 김재환, 마마무(MAMAMOO), 우주소녀(WJSN...","{'word': 'IZ*ONE', 'start_idx': 139, 'end_idx'...","{'word': 'K-POP', 'start_idx': 167, 'end_idx':...",no_relation,wikitree
31128,31128,"토머스 제퍼슨과 그가 이끄는 민주-공화당이 영국과의 조약을 반대하였지만, 워싱턴은 ...","{'word': '민주-공화당', 'start_idx': 16, 'end_idx':...","{'word': '토머스 제퍼슨', 'start_idx': 0, 'end_idx':...",org:top_members/employees,wikipedia
31957,31957,최재호 무학그룹 회장은 지난달 1일 열린 '(주)무학 창립 90주년 행사'에서 기념...,"{'word': '(주)무학', 'start_idx': 24, 'end_idx': ...","{'word': '무학그룹', 'start_idx': 4, 'end_idx': 7,...",org:member_of,wikitree

In [53]:
tmp = []
for idx, s_e in enumerate(obj_entity_words):
    processed = re.sub("[가-힣]+|[0-9]+|[a-z]+|[A-Z]+|[.]+","", s_e)
    if processed.strip() != '':
        tmp.append((idx,s_e))
tmp

[(45, '1800년 ~ 1862년'),
 (72, '49만 5,000명'),
 (107, '031-909-9000'),
 (136, 'KT 커스터머&미디어부문장'),
 (191, '少弐氏'),
 (261, '25,000'),
 (328, '2012-13'),
 (342, '37,000명'),
 (374, '玉置浩二'),
 (418, 'KBS 全州放送總局'),
 (420, 'DFB-포칼'),
 (440, '6,000명'),
 (444, '군인, 탐험가'),
 (457, '1915년 9월 9일 ~ 1958년 11월 19일'),
 (494, '씨제이이에치(주)'),
 (540, '後北条氏'),
 (627, '제1, 3야전군'),
 (630, "시동'"),
 (714, '18,000명'),
 (723, '스페이스워!'),
 (724, '2008-09'),
 (750, '수원 삼성 블루윙즈 U-15'),
 (893, '2006-07'),
 (926, '1426년 5월 5일/음력 3월 28일'),
 (964, '2002-03'),
 (977, '16·17·18·20'),
 (1047, 'V-리그'),
 (1052, '22,528.74 위안'),
 (1053, '031-909-9000'),
 (1055, 'VMRO-DPMNE'),
 (1151, '20,000명'),
 (1291, 'AT&T 스타디움'),
 (1293, 'Hermann Müller'),
 (1299, 'STS-107'),
 (1310, '前 새누리당 비례대표'),
 (1466, '93,000명'),
 (1476, '2019-2020'),
 (1481, 'USANA Health Sciences, Inc.'),
 (1485, '서울動物園'),
 (1506, 'SM C&C'),
 (1527, '서울특별시 종로구 종로 26 (서린동)'),
 (1574, 'A-JAX'),
 (1579, '1925년 4월 14일 ~'),
 (1720, '2017-18'),
 (1729, '성삼빙, 성삼고, 성삼성'),
 (1756, '1969-70 풋볼 리그컵'),
 (1794, '56,000명'),
 (1797, '伊達氏'),
 (1901, '미스터 & 미세스 스미스'),
 (1945, '2008–09시즌 리그1'),
 (1963, 'BJ, 유튜버'),
 (1990, 'CCTV-4 中文国际'),
 (1991, '요미(よみ)'),
 (2140, 'César Azpilicueta Tanco'),
 (2209, '2008-09'),
 (2280, '1854년 1월 12일-1920년 1월 11일'),
 (2446, '1880년 11월 28일 ~ 1960년 2월 10일'),
 (2531, '블레이드 & 소울'),
 (2552, '12,000명'),
 (2579, '18·20'),
 (2609, '2,000여 명'),
 (2684, '쇼니 씨(少弐氏)'),
 (2708, '1983-84'),
 (2717, '후지코 후지오 Ⓐ'),
 (2725, 'みゆき'),
 (2730, '8,000명'),
 (2843, '60,000명'),
 (2867, '2008-09'),
 (2933, '기독교 개혁교회 (북아메리카)'),
 (2940, '영화감독, 각본가'),
 (2975, '씨제이이에치(주)'),
 (3013, '원종(元宗)'),
 (3118, '소녀시대-Oh!GG'),
 (3173, '쓰네히토(恒仁)'),
 (3328, '김극효(金克孝)'),
 (3330, '프라우엔-분데스리가'),
 (3342, '1억 8,000만 엔'),
 (3343, '《아랑전설》'),
 (3382, '임해군, 광해군'),
 (3504, '웹툰 《역전! 야매요리》'),
 (3558, "2002년 뮤지컬 '렌트'"),
 (3694, '1,041병상'),
 (3749, '12,000명'),
 (3830, 'KT&G'),
 (3908, '國稅廳'),
 (3949, '株式会社アニメーションドゥウ'),
 (3977, '78,156명'),
 (4039, 'SM C&C'),
 (4042, 'française'),
 (4088, '작곡가, 지휘자'),
 (4091, 'KT&G'),
 (4113, '2005-06'),
 (4183, '겐키 3년(1572년)'),
 (4294, '김용수(金龍樹)'),
 (4379, '명릉(明陵)'),
 (4380, '東出昌大'),
 (4524, 'Hey! Say! JUMP'),
 (4531, 'AT&T 센터'),
 (4543, '《아랑전설》'),
 (4675, '모델, 배우, 영화 프로듀서'),
 (4678, "2002년 뮤지컬 '렌트'"),
 (4695, '郭在驥'),
 (4733, '20,000'),
 (4760, '清和政策研究会'),
 (4780, '2010-11'),
 (4852, '배우, 방송인'),
 (4864, '2010-11'),
 (4881, 'Vedad Ibišević'),
 (4906, '케일리-딕슨 구성'),
 (4907, '17,000명'),
 (4957, 'Lower Centaurus-Crux sub-group'),
 (5034, '《주홍색 연구》'),
 (5143, '031-888-8601~8602'),
 (5153, '1992-93'),
 (5174, '거서간(居西干)'),
 (5228, 'KT&G'),
 (5283, 'DFB-포칼'),
 (5465, '남북조 시대(南北朝時代)'),
 (5529, 'あゆみ'),
 (5585, 'KT&G'),
 (5616, 'B-Free'),
 (5634, 'Tore André Flo'),
 (5664, '이영(李永)'),
 (5728, '2011-12'),
 (5746, '1971-72'),
 (5849, '30, 000명'),
 (5853, "2008년 웹툰 '노병가'"),
 (5872, '희극 배우, MC, 배우, 가수'),
 (5914, '大法院'),
 (5921, '2005-06'),
 (5954, '梁啓超'),
 (6006, '近衛家'),
 (6057, '國民經濟諮問會議'),
 (6115, '코언-매콜리 환'),
 (6161, '스카, 록스테디, 레게'),
 (6197, '川村文乃'),
 (6234, "2001년 뮤지컬 '록키 호러 픽쳐쇼'"),
 (6241, 'KT&G'),
 (6301, '영화감독, 소설가'),
 (6349, 'Dieter Hoeneß'),
 (6450, '1990년 7월 28일 ~'),
 (6615, '공격형 미드필더, 공격수'),
 (6622, 'Saša Drakulić'),
 (6667, '崔彰權'),
 (6671, '동치(同治) 13년 12월 5일(1875년 1월 12일)'),
 (6678, '1918년 6월 13일 - 1944년 10월 7일'),
 (6706, '東出昌大'),
 (6782, '중흥S-클래스'),
 (6836, '동맹 90/녹색당'),
 (7040, 'たなか'),
 (7050, "T.G.I. Friday's"),
 (7121, '川村文乃'),
 (7130, '伊達氏'),
 (7146, 'Christa Päffgen'),
 (7163, '2000-01'),
 (7188, 'X-Teen'),
 (7235, 'UEFA 챔피언스리그 2008-09'),
 (7247, '가수, 싱어송라이터'),
 (7282, 'EXO-CBX'),
 (7325, '웹툰 《역전! 야매요리》'),
 (7388, '현대L&C'),
 (7496, '노오(盧塢)'),
 (7536, '화가, 건축가'),
 (7590, '森 喜朗'),
 (7592, '보덕국(報德國)'),
 (7689, '영화 감독, 영화 제작자, 배우, 각본가'),
 (7769, '율리우스-클라우디우스 황조'),
 (7877, '2012-13'),
 (7905, '600,000명'),
 (7909, '2007-08'),
 (7910, '제20·21대 국회의원'),
 (7914, '蔚山放送'),
 (7949, '《드라큘라》'),
 (8067, 'Marcelino García Toral'),
 (8182, '2011-12'),
 (8284, '1912년 10월 24일 – 1988년 11월 4일'),
 (8308, '15,000명'),
 (8355, '인천광역시 중구 항동7가 82-1'),
 (8384, 'V-리그'),
 (8390, '국제 축구 연맹(FIFA)'),
 (8411, '梁啓超'),
 (8473, 'Marcelino García Toral'),
 (8585, "2002년 MBC 드라마 '로망스'"),
 (8602, '1973-74'),
 (8628, '고구려(高句麗)'),
 (8630, 'KT&G'),
 (8757, 'DFB-포칼'),
 (8777, 'Marcelino García Toral'),
 (8809, '1770년 5월 10일 ~ 1823년 6월 1일'),
 (8980, '1768년 12월 7일 - 1855년 5월 26일'),
 (8982, '위우거(衛右渠)'),
 (9002, '監理會'),
 (9156, '알카텔-루슨트'),
 (9247, '4,000 달러'),
 (9265, '현대자동차(주)'),
 (9301, 'V-리그'),
 (9306, 'X-Teen'),
 (9342, '75,000명'),
 (9516, '피에르 오브리 드 구주(Pierre Aubry de Gouges) 장군'),
 (9550, "Gabriele d'Annunzio"),
 (9719, '363년 ~ 419년'),
 (9756, '제15·16·17대 국회의원'),
 (9767, '031-940-4533'),
 (9825, '金在俊'),
 (9865, '앤더슨 쿠퍼 360°'),
 (9929, 'Goethe-Institut'),
 (9952, '長宗我部氏'),
 (9972, '藤原氏'),
 (9997, 'Canata[YG]'),
 (10040, '제1(I)군단'),
 (10084, '94,000명'),
 (10092, '17·18·20'),
 (10130, 'V-리그'),
 (10169, '배우, 각본가, 연출가'),
 (10227, '1899년 6월 1일 ~ 1968년 4월 1일'),
 (10244, '영어 교사, 유튜버'),
 (10382, '1992-93'),
 (10404, 'PSG-OM'),
 (10412, 'Clean & Smart Energy Leader'),
 (10582, '배우, 모델'),
 (10616, 'SM C&C'),
 (10631, '폴란드-리투아니아'),
 (10656, '알렉스 튜(Alex Tew)'),
 (10661, '5,000명'),
 (10710, 'SM C&C'),
 (10716, '1993-94'),
 (10724, '비류(沸流)'),
 (10833, '2019-20'),
 (10907, '2,000명'),
 (10955, 'KBS晋州放送局'),
 (10961, '열암(冽巖)'),
 (11019, '경희궁 어조당(魚藻堂)'),
 (11041, '200,000명'),
 (11054, '뮤지션, 작사가, 작곡가'),
 (11193, '031-8075-4488'),
 (11230, '작가, 시인, 언론인, 음악가'),
 (11232, '배우, 모델'),
 (11259, '배우, 모델'),
 (11380, '장항(長降)'),
 (11451, '10,000명'),
 (11612, '41,000명'),
 (11662, 'DFB-포칼'),
 (11671, '竹内美宥'),
 (11712, '님아, 그 강을 건너지 마오'),
 (11714, 'J-U'),
 (11976, '12,000명'),
 (12019, '영화 《개왕운적남단》'),
 (12039, '1862년 1월 19일 ~ 1933년 10월 7일'),
 (12157, '역전! 야매요리'),
 (12214, '팬티 & 스타킹 with 가터벨트'),
 (12219, '2010-11'),
 (12268, '송(宋) 황조'),
 (12316, '1986-87'),
 (12370, '음갈문왕(飮葛文王)'),
 (12491, 'いけだ'),
 (12673, 'KT&G'),
 (12731, '907년 ~ 912년'),
 (12752, '웹툰 《역전! 야매요리》'),
 (12820, '2019-2020'),
 (12824, '釋迦牟尼'),
 (12891, 'Marco Wölfli'),
 (12901, '1820년 ~ 1877년 5월 30일'),
 (12918, '오스트리아-헝가리 제국'),
 (12981, '2009-10'),
 (13087, '지도부인(知道夫人)'),
 (13115, '인공지능(AI)'),
 (13193, '1909년 8월 12일 ~ 1935년 1월 23일'),
 (13235, '2010-11'),
 (13311, '1,161명'),
 (13313, '8,000명'),
 (13441, '2009-10'),
 (13636, '발해(渤海)'),
 (13686, '피아노 연주자, 지휘자'),
 (13780, "시동'"),
 (13781, '덴분 8년(1539년)'),
 (13798, '배우, 영화 제작자'),
 (13923, '태종(太宗)'),
 (13929, '오타와 카메론 하이랜더 연대(The Ottawa Cameron Highlanders)'),
 (13945, '2009-10'),
 (13967, '織田信長'),
 (13986, '오스트리아-헝가리 제국'),
 (14002, '이역(李懌)'),
 (14048, '1994-95'),
 (14079, 'SM C&C'),
 (14102, 'Dario Vidošić'),
 (14149, '폴란드-리투아니아'),
 (14175, "2002년 MBC 드라마 '로망스'"),
 (14181, '織田信長'),
 (14184, '152,000'),
 (14214, '2006-07'),
 (14290, '빌 조이(Bill Joy)'),
 (14344, 'U-플라이 얼라이언스'),
 (14369, '鈴木貫太郎'),
 (14389, '2013-14'),
 (14512, '統計廳'),
 (14617, '鄭昌謨'),
 (14663, '2009-10'),
 (14727, '오슈 후지와라 씨(奧州藤原氏)'),
 (14741, '광서(光緖) 34년 10월 21일(1908년 11월 14일)'),
 (14750, '배우, 모델'),
 (14771, 'ルールー・アムール'),
 (14794, 'EAFF E-1 풋볼 챔피언십'),
 (14851, '오스트리아-헝가리 제국'),
 (14869, '061-286-2452'),
 (14874, '만화가, 일러스트레이터'),
 (14956, '㈜엘에스'),
 (14984, '5,000만원'),
 (14999, 'CDU/CSU'),
 (15060, '2019-2020'),
 (15195, '542년 ~ 557년'),
 (15342, 'V-리그'),
 (15350, '2,000만불'),
 (15501, '문목왕후(文穆王后)'),
 (15541, '원릉(元陵)'),
 (15584, "시동'"),
 (15667, '海洋水産部'),
 (15726, '織田信長'),
 (15733, 'Kis-My-Ft2'),
 (15791, '佐々木莉佳子'),
 (15827, 'Emmanuel Eboué'),
 (15845, '6,000'),
 (15879, 'F-15E'),
 (15880, 'The SSE Arena, Wembley'),
 (15904, '가수, 배우'),
 (15910, '京畿放送'),
 (16002, '織田氏'),
 (16143, 'さあや'),
 (16191, '2011-12'),
 (16261, '1,000'),
 (16275, '高麗氏'),
 (16403, '가수, 작사가, 작곡가'),
 (16406, 'KBS晋州放送局'),
 (16478, '李承萬'),
 (16587, '선무원종공신(宣武原從功臣)'),
 (16591, '알-샤하니아'),
 (16662, 'Brian Elwin Haner, Jr'),
 (16698, '19·20'),
 (16699, '少弐氏'),
 (16751, '세조(世祖)'),
 (16956, '영릉(英陵)'),
 (17123, 'André Kim'),
 (17214, '한-바나흐 정리'),
 (17230, 'Club Social y Deportivo Colo-Colo'),
 (17265, '오스트리아-헝가리 제국'),
 (17307, 'Hey! Say! JUMP'),
 (17344, '조 윌리 퍼킨스(Joe Willie Perkins)'),
 (17412, 'Pre-Raphaelites'),
 (17521, '단종(端宗)'),
 (17570, '島田裕介'),
 (17583, 'Víctor Ruiz Torre'),
 (17610, '2002-03'),
 (17706, '시인, 싱어송라이터'),
 (17717, '김원숭(金元崇)'),
 (17820, '1992년 6월 15일 ~'),
 (17872, '방송인, 연기자, 대학 교수'),
 (17873, '韓國技術敎育大學校'),
 (17912, '칠점선(七點仙)'),
 (17915, '17·18'),
 (17966, '1899년 ~ 1951년'),
 (17976, '2002-03'),
 (18108, "2011년 영화 '촌철살인'"),
 (18247, '徳川氏'),
 (18263, '248년~270년'),
 (18279, '홍희(洪熙) 원년 5월 12일(1425년 5월 29일)'),
 (18302, '장항(長降)'),
 (18324, '서울특별시 노원구 화랑로 574 (공릉동)'),
 (18337, '폴란드-리투아니아'),
 (18355, '딸 유채원, 유정원'),
 (18389, '인공지능(AI)'),
 (18437, 'Jo-Vaughn Virginie Scott'),
 (18526, '80,000'),
 (18585, '쇼니 씨(少弐氏)'),
 (18588, '순흥(順興)'),
 (18594, '배우, 가수, 영화 각본가, 영화 감독'),
 (18688, 'Goethe-Institut'),
 (18705, '中華民國 立法院'),
 (18723, '2001-02'),
 (18734, '1973-74'),
 (18740, '(주)포르테 소프트웨어'),
 (18753, '열조(烈祖)'),
 (18770, 'DFB-포칼'),
 (18843, '작가, 시인, 언론인, 음악가'),
 (18859, "2010년 영화 '초능력자'"),
 (18925, '李娥珠'),
 (19074, "2006년 영화 '스승의 은혜"),
 (19105, '혁거세거서간(居西干)'),
 (19220, '25,000명'),
 (19232, 'Ivica Vastić'),
 (19254, '藤原氏'),
 (19262, '1934년 12월 5일 ~'),
 (19356, '2010-2011'),
 (19358, 'FC Südtirol'),
 (19359, '풍천(豊川)'),
 (19394, '20,000 마일'),
 (19447, '洪景來'),
 (19458, '尹鍾信'),
 (19488, 'Yoon Bit-Garam'),
 (19533, '영화배우, 가수'),
 (19542, '蔡基中'),
 (19568, '시인, 작가, 화가, 문학평론가, 언론인'),
 (19663, '27,000명'),
 (19708, '2005-06'),
 (19726, '60,000명'),
 (19835, '작가, 정치인, 언론인, 수필가'),
 (19842, '왕후(王煦)'),
 (19885, '2001-02'),
 (19923, '梁啓超'),
 (19997, '55,300명'),
 (20006, '가수, 작곡가, 방송인'),
 (20011, '41,000명'),
 (20053, '織田信長'),
 (20066, '織田信長'),
 (20121, '의릉(懿陵)'),
 (20196, 'ÖBB'),
 (20203, '배우, 영화 제작자'),
 (20210, '聯合國'),
 (20214, '18·20'),
 (20289, '오키코(興子)'),
 (20300, '35,000톤'),
 (20323, 'V-리그'),
 (20373, '武田氏'),
 (20380, '변호사, 활동가, 반체제 인사, 인권 운동가'),
 (20411, '50,000마일'),
 (20493, "2002년 영화 '챔피언'"),
 (20630, '혼덕공(昏德公)'),
 (20683, '579년 8월 24일 (음력 7월 17일)'),
 (20742, '메이레키 원년(1655년 12월 17일)'),
 (20770, '스미스-민코프스키-지겔 질량 공식'),
 (20988, 'Saeed Al-Owairan'),
 (21009, '15·16·18·19'),
 (21025, '栃木SC'),
 (21035, 'KT&G'),
 (21078, '圖書館'),
 (21108, '판타지오, 판타지오 뮤직'),
 (21143, '1908년 6월 21일 ~ 1932년 12월 19일'),
 (21178, '國民年金公團'),
 (21362, '배우, 군인'),
 (21412, '제1(I)군단'),
 (21505, '765년 ~ 780년'),
 (21528, "2000년 영화 '찍히면 죽는다'"),
 (21590, '金基昶'),
 (21658, 'まどか'),
 (21729, '唐田えりか'),
 (21743, 'SM C&C'),
 (21821, '3,000명'),
 (21929, '블레이드 & 소울'),
 (21953, '이융기(李隆基)'),
 (22008, '블레이드&소울'),
 (22016, '건릉(健陵)'),
 (22028, '효헌(孝獻)'),
 (22056, '경기남·북부지방경찰청'),
 (22078, '2013-14'),
 (22161, "Icheon Daekyo Women's Football Club"),
 (22203, 'KT&G'),
 (22222, "시동'"),
 (22232, '카타르 스포츠 인베스트먼츠 (QSi)'),
 (22257, 'David Jarolím'),
 (22302, '49,000'),
 (22332, 'EAFF E-1 풋볼 챔피언십'),
 (22362, '2012-13'),
 (22434, 'Śākyamuni'),
 (22471, '韓國 Job World'),
 (22515, '809년 ~ 826년'),
 (22624, '배우, 성우, 가수'),
 (22661, 'Μίκης Θεοδωράκης'),
 (22669, 'Frauen-Bundesliga'),
 (22749, 'Håvard Nordtveit'),
 (22859, '류천궁(柳天弓)'),
 (22904, '하숙(河淑)'),
 (23029, '前 왕의 부하 칠무해'),
 (23070, '농민행동당(Repons Peyizan)'),
 (23087, "2004년 영화 '신부수업'"),
 (23185, '소설가, 희곡작가'),
 (23191, 'DFB-포칼'),
 (23218, '1971-72'),
 (23273, '2003-04시즌'),
 (23354, '3,000만 달러'),
 (23449, '중흥S-클래스'),
 (23517, 'USANA Health Sciences, Inc.'),
 (23581, '태종(太宗)'),
 (23597, '45,000명'),
 (23625, '中川亜紀子なかがわ あきこ'),
 (23634, '1559년 - 1592년 음력 4월 28일'),
 (23639, 'MC, 방송인'),
 (23641, '1980-81'),
 (23649, "2005년 영화 '새드무비'"),
 (23670, 'NO:EL'),
 (23802, 'Ron-Robert Zieler'),
 (23839, "2007년 영화 '궁녀'"),
 (23887, '왕순(王詢)'),
 (23894, '가수, 작사가, 방송인'),
 (23995, 'Mislav Oršić'),
 (24081, '750,000명'),
 (24092, '曺世鉉'),
 (24416, '블레이드 & 소울'),
 (24425, '원릉(元陵)'),
 (24449, '2012-13'),
 (24532, '2001-02'),
 (24640, '태조(太祖)'),
 (24688, '영조 6년(1730) 6월 29일'),
 (24742, '한예(韓銳)'),
 (24823, '가수, 배우'),
 (24840, '2000-01'),
 (24874, '성왕(聖王)'),
 (24883, '浙江广播电视集团'),
 (24885, '블레이드 & 소울'),
 (24932, '1991년 1월 17일 ~'),
 (24978, '후아유 - 학교 2015'),
 (25044, '천문학자, 의사'),
 (25050, '韓國海洋科學技術院'),
 (25054, '萬國郵便聯合'),
 (25090, '조선민족당, 한국국민당'),
 (25109, "은교'"),
 (25134, '희극인, MC, 배우'),
 (25144, '영화 감독, 영상 작가, 각본가, 음악가'),
 (25200, '2010-11'),
 (25201, 'RÚV'),
 (25234, '왕후(王煦)'),
 (25258, '동지추밀원사(同知樞密院事)'),
 (25289, '2005-06'),
 (25301, '香港工會聯合會'),
 (25306, '가수, 싱어송라이터'),
 (25307, '1,000만 달러'),
 (25349, 'Jürgen Kohler'),
 (25380, '2010-11'),
 (25405, '2009-10'),
 (25443, '梁啓超'),
 (25505, '300,000달러'),
 (25552, '7,000명'),
 (25645, '《해리 포터와 죽음의 성물》'),
 (25660, '成膳任'),
 (25702, '스키타이-소그드인'),
 (25748, '가수, 배우'),
 (25756, "스승의 은혜'"),
 (25769, '가수, 배우'),
 (25815, 'KT&G'),
 (25879, '1310년 ~ 1346년'),
 (25904, '《터미네이터 제니시스》'),
 (25921, '비엣꾸옥 (Việt Quốc)'),
 (25998, '홀슈타인-고트로프 공작 카를 프리드리히'),
 (26016, 'SM C&C'),
 (26034, '오스트리아-헝가리 제국'),
 (26039, '2006-07'),
 (26051, '1981-82'),
 (26122, "2002년 뮤지컬 '렌트'"),
 (26238, '1992-93'),
 (26286, '대한예수교장로회(통합)'),
 (26290, '영천(永川)'),
 (26361, '류천궁(柳天弓)'),
 (26446, '14,164석'),
 (26450, 'DJK/VfL 기젠키르헨'),
 (26625, '1992-93'),
 (26668, '2011-12'),
 (26734, '971년–995년'),
 (26821, "Wir ham' noch lange nicht genug"),
 (26851, 'Sambu Engineering & Construction Co., Ltd.'),
 (26917, '가수, 싱어송라이터'),
 (26941, '프라우엔-분데스리가'),
 (27003, '궁예(弓裔)'),
 (27005, '684년 683년/6월 26일'),
 (27011, 'Club Sport Marítimo'),
 (27057, 'Samuel Rosa Gonçalves'),
 (27076, 'SM C&C'),
 (27113, '1,500여 명'),
 (27135, '豊臣氏'),
 (27141, '1,000'),
 (27183, '평강상호왕(平崗上好王)'),
 (27187, 'IMCOM-K'),
 (27249, 'MBC慶南 晋州放送'),
 (27327, 'みなみ'),
 (27484, '다이카인(大慶) 7년 3월 16일(1320년 4월 24일)'),
 (27706, '7,000명'),
 (27709, '真田氏'),
 (27740, '작가, 철학자, 소설가, 역사가, 극작가'),
 (27883, '1426년 5월 5일/음력 3월 28일'),
 (27905, '177,000명'),
 (27943, 'SM C&C'),
 (27988, '이현(李儇)'),
 (28026, '少弐氏'),
 (28033, '궁예(弓裔)'),
 (28128, 'G-Unit'),
 (28385, '300,000명'),
 (28449, 'たかし'),
 (28478, '大内氏'),
 (28687, 'KBS春川放送總局'),
 (28702, '織田信長'),
 (28718, "2017년 영화 '내 마음 깊은 곳의 너'"),
 (28825, '(주)위메프'),
 (28875, '1554년 ~ 1592년'),
 (28876, '휴정(休靜)'),
 (28892, '1984년 1월 8일 ~'),
 (28953, '15,000명'),
 (28965, 'J-U'),
 (28966, '靑瓦臺'),
 (29112, '"다이만"'),
 (29129, '배우, 모델'),
 (29304, '2010-2011'),
 (29316, 'Real Madrid Club de Fútbol'),
 (29414, '031-909-9000'),
 (29475, '2000-01'),
 (29487, '태조(太祖)'),
 (29488, '안양 KT&G 카이츠'),
 (29494, '1942년 1월 5일 ~'),
 (29569, '샤미드, 쥬피썬더, 부스터, 에브이, 블래키, 리피아, 글레이시아, 님피아'),
 (29737, '250,000명'),
 (29762, '26,000명'),
 (29776, '"Dick"'),
 (29808, '郭在驥'),
 (29906, '2019-20'),
 (30038, '李鍾熙'),
 (30041, '140,000km'),
 (30226, '노다(野田) 대감'),
 (30272, 'Goethe-Institut'),
 (30372, '절강(浙江)'),
 (30401, '韓國電力公社'),
 (30425, 'Mustafa Kemal Atatürk'),
 (30440, '2005-06'),
 (30593, '2006-07'),
 (30611, '6,000명'),
 (30637, '2002-03'),
 (30641, '仁川港灣公社'),
 (30642, '가수, 텔레비전 연기자, 뮤지컬 배우'),
 (30787, 'K-POP'),
 (30800, 'Διόνυσος'),
 (31075, '東出昌大'),
 (31271, '폴란드-리투아니아'),
 (31319, '15&'),
 (31401, 'CCTV-4'),
 (31406, '香西 香'),
 (31447, 'Jann-Fiete Arp'),
 (31491, '사카이 나카(酒井ナカ)'),
 (31513, '150,000명'),
 (31613, '현종(顯宗)'),
 (31653, '1937년 7월 6일 ~ 2016년 1월 25일'),
 (31670, '1931년 4월 14일 ~ 1931년 12월 13일'),
 (31723, '《아랑전설》'),
 (31725, '先進統一黨'),
 (31745, '르노-닛산-미쓰비시 얼라이언스'),
 (31812, '폴란드-리투아니아'),
 (31907, '김용수(金龍樹)'),
 (31915, '織田信長'),
 (31921, '비디오게임 디자이너, 감독, 프로듀서'),
 (31934, '김춘추(金春秋)'),
 (31936, '성주(星州)'),
 (31999, 'Paris Saint-Germain Football Club'),
 (32062, '소릉(昭陵)'),
 (32124, '배우, 가수'),
 (32131, '웅진(熊津)'),
 (32187, '2004-05'),
 (32216, '문명황후(文明皇后)'),
 (32218, '라이언스(Lions)'),
 (32228, '제17·19·21대'),
 (32301, '가수, 작사가, 기타 연주자'),
 (32411, '가톨릭平和放送'),
 (32465, '부산 서구·동구')]

In [54]:
tmp = np.array(tmp)
uniq_obj = raw_df.iloc[tmp[:,0]]
uniq_obj.to_csv(os.path.join(SAVEDIR,'unique_obj_entity.csv'))
uniq_obj

,id,sentence,subject_entity,object_entity,label,source
45,45,영국의 제임스 클라크 로스(1800년 ~ 1862년) 경은 1839년 10월 ‘에레...,"{'word': '제임스 클라크 로스', 'start_idx': 4, 'end_id...","{'word': '1800년 ~ 1862년', 'start_idx': 15, 'en...",per:date_of_birth,wikipedia
72,72,냉전 동안 독일 연방군은 NATO의 서유럽 방위의 주력군이 되었으며 전군을 통틀어 ...,"{'word': '독일 연방군', 'start_idx': 6, 'end_idx': ...","{'word': '49만 5,000명', 'start_idx': 46, 'end_i...",org:number_of_employees/members,wikipedia
107,107,고양시청 종합상황실에서는 연휴기간동안 09:00 ~ 18:00까지 민원콜센터(031...,"{'word': '고양시', 'start_idx': 0, 'end_idx': 2, ...","{'word': '031-909-9000', 'start_idx': 43, 'end...",no_relation,wikitree
136,136,KT 이사회가 전원합의로 구현모 KT 커스터머&미디어부문장(사장)을 차기 회장 후보...,"{'word': '구현모', 'start_idx': 14, 'end_idx': 16...","{'word': 'KT 커스터머&미디어부문장', 'start_idx': 18, 'e...",per:title,wikitree
191,191,쇼니 씨(少弐氏)의 8대 당주로 쇼니 요리히사(少弐頼尚)의 둘째 아들이다.,"{'word': '쇼니 씨', 'start_idx': 0, 'end_idx': 3,...","{'word': '少弐氏', 'start_idx': 5, 'end_idx': 7, ...",per:alternate_names,wikipedia
...,...,...,...,...,...,...
32218,32218,뱅가드 대학교의 운동부는 '라이언스(Lions)'로 미국 대학 대항 체육 협회에 소...,"{'word': '뱅가드 대학교', 'start_idx': 0, 'end_idx':...","{'word': '라이언스(Lions)', 'start_idx': 15, 'end_...",org:members,wikipedia
32228,32228,"정청래(鄭淸來, 1965년 4월 18일 -)는 대한민국의 운동권 출신 정치인으로, ...","{'word': '정청래', 'start_idx': 0, 'end_idx': 2, ...","{'word': '제17·19·21대', 'start_idx': 46, 'end_i...",no_relation,wikipedia
32301,32301,"잭 앵글린(Jack Anglin, 1916년 5월 13일 ~ 1963년 3월 8일)...","{'word': '잭 앵글린', 'start_idx': 0, 'end_idx': 4...","{'word': '가수, 작사가, 기타 연주자', 'start_idx': 59, '...",per:title,wikipedia
32411,32411,"가톨릭평화방송(가톨릭平和放送, Catholic Peace Broadcasting C...","{'word': '가톨릭평화방송', 'start_idx': 0, 'end_idx':...","{'word': '가톨릭平和放送', 'start_idx': 8, 'end_idx':...",org:alternate_names,wikipedia
32465,32465,한국당은 7일 오전 9시부터 오후 5시까지 진행된 원내대표 및 정책위의장 후보자 등...,"{'word': '유기준', 'start_idx': 93, 'end_idx': 95...","{'word': '부산 서구·동구', 'start_idx': 100, 'end_id...",per:employee_of,wikitree